body {
  background-color: lightcoral;
}

#para1 {
  font-size: 125%;
  color: blanchedalmond;
}

.para2 {
  font-size: 150%;
  color: aqua;
}

.table {
  font-family: Verdana, sans-serif;
  font-size: 150%;
  color: red;
}

.list {
  font-family: Arial, sans-serif;
  font-size: 200%;
  color: chartreuse;
}
